body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    border-style: solid;
    border-color: black;
    height: 600px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.display {
    width: 400px;
    height: 100px;
    border: 0px;
    background-color: gray;
    box-sizing: border-box;
    border-style: solid;
    border-width: 12px;
    text-align: right;
    vertical-align: middle;
    line-height: 80px;
    font-size: 80px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-style: solid;
    border-width: medium;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 50px;
    font-weight: bold;
}

#zero {
    width: 200px;
    background-color: white;
}

#clear {
    background-color: lightblue;
}

#operate {
    background-color: red;
}

.button.operations {
    background-color: teal;
}